:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  touch-action: pan-y !important;

  main {
    flex: 1 1 100%;
  }

  .fixed-menu {
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 2;
  }

  .menu {
    display: none;
  } 

  .show-menu {
    margin-top: 50px;

    .menu {
      display: block;
    }
  }

  .hide {
    display: none;
  }
}
