<article class="content">
  <h2>Пра нас</h2>
  <div>
    <b>Идея:</b> Эд
  </div>
  <div>
    <b>Техническая реализация:</b> Дима
  </div>
  <br>
  <div>
    <b>Раставление тегов:</b> Эд, Люда, Оля, Аня, Настя
  </div>
  <div>
    <b>Проверка аккордов:</b> Денис
  </div>

  <h2>Мы у соцсетках</h2>
  <div class="list">
    <div class="item">
        <a target="_blank" href="https://www.instagram.com/my_razam/">
          <img src="/assets/img/instagram.svg">
          <div class="item-name">my_razam</div>
        </a>
    </div>
    <div class="item">
        <a target="_blank" href="https://vk.com/club_z_bogam">
          <img src="/assets/img/logo_vk.svg">
          <div class="item-name">Хрысцiяне Разам з Богам</div>
        </a>
    </div>
  </div>

  <div>Парафия св. Барбары Витебск вул. Ленинградска 27</div>
</article>
