<article class="content">
  <h2>Пра нас</h2>
  <div>
    <b>Ідэя:</b> Эд
  </div>
  <div>
    <b>Тэхнічная рэалізацыя:</b> Дима
  </div>
  <br>
  <div>
    <b>Расстаўленне тэгаў:</b> Эд, Люда, Оля, Аня, Настя
  </div>
  <div>
    <b>Праверка акордаў:</b> Денис
  </div>

  <h2>Мы ў сацсетках</h2>
  <div class="list">
    <div class="item">
      <a target="_blank" href="https://vk.com/club_z_bogam">
        <img src="/assets/img/logo_vk.svg">
        <div class="item-name">Хрысцiяне Разам з Богам</div>
      </a>
    </div>
    <div class="item">
        <a target="_blank" href="https://www.instagram.com/my_razam/">
          <img src="/assets/img/instagram.svg">
          <div class="item-name">my_razam</div>
        </a>
    </div>
  </div>

  <div>Парафия св. Барбары Витебск вул. Ленинградска 27</div>

  <div class="copyright">© Copyright 2018-{{ yearNow }}</div>
</article>
