.site-footer {
    font-size: 13px;
    text-align: center;
    color: #b3b3b1;
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jesus {
    background-image: url("/assets/img/jesus.png");
    background-position: 50% 100%;
    background-size: auto 50px;
    background-repeat: no-repeat;
    height: 62px;
    width: 70px;
    margin: 0 auto;
}


