:host {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  display: block;

  .container {
    display: flex;
    align-items: center;
  }

  .burger-menu {
    padding: 6px;
    cursor: pointer;
  }

  .logo {
    flex: 2 1 auto;
    cursor: pointer;
    width: 125px;
    transition: all .2s ease;
    opacity: 1;
  }
    

    h2 {
      width: 115px;
      margin: 10px 10px 10px 0;
    }

    @media (max-width: 468px) {
      .logo {
        flex: 0 1 auto;
      }

      .hide-logo {
        width: 0;
        opacity: 0;
      }

      app-search-song {
        flex: 1 1 auto;
      }
  }

  .list-horizontal {
    flex: 1 1 auto;
    padding: 0;
    text-align: right;
    
    .mat-list-item {
      display: inline-block;
      height: auto;
      width: auto;
    }
  }
}

.checkbox-menu {
  display: flex;
  align-content: space-between;

  &__version {
    color: #888;
  }

  >span {
    flex: 1 1 auto;
    padding-right: 10px;
  }
  >.right {
    flex: 1 1 auto;
    text-align: end;

    .mat-icon {
      margin-right: 0;
    }
  }
}