<div class="container">
  <mat-icon class="burger-menu" [matMenuTriggerFor]="menu">menu</mat-icon>
  <div class="logo" [class.hide-logo]="searchInputInFocus" (click)="toggleMainMenu()">
    <h2>Спеўнік</h2>
  </div>
  <app-search-song class="sticky-search" (isFocusInput)="onInputChangeFocus($event)"></app-search-song>
</div>

<mat-menu #settings="matMenu">
  <button class="checkbox-menu" mat-menu-item (click)="$event.stopPropagation()">
    <span>Адлюстроўваць нумар песні:</span>
    <div class="right">
      <mat-checkbox [checked]="showSongNumber" (change)="toggleSongNumber($event)"></mat-checkbox>
    </div>
  </button>
  <button class="checkbox-menu" mat-menu-item (click)="$event.stopPropagation()">
    <span>Паказваць акорды:</span>
    <div class="right">
      <mat-checkbox [checked]="showChord" (change)="toggleChord($event)"></mat-checkbox>
    </div>
  </button>
  <button class="checkbox-menu" mat-menu-item (click)="$event.stopPropagation()">
    <span>Пазіцыя акордаў:</span>
    <div class="right chord-position">
      <mat-button-toggle-group [value]="chordPosition" (change)="changeChordPosition($event)">
        <mat-button-toggle value="inText">У тэксце</mat-button-toggle>
        <mat-button-toggle value="right">Справа</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </button>
  <button class="checkbox-menu" mat-menu-item (click)="$event.stopPropagation()">
    <span>Памер шрыфта:</span>
    <div class="right">
      <mat-icon (click)="changeFontSize(false)">remove</mat-icon>
      <span (click)="changeFontSize(null, true)">{{ fontSize }}%</span>
      <mat-icon (click)="changeFontSize(true)">add</mat-icon>
    </div>
  </button>
  <mat-divider></mat-divider>
  <button class="checkbox-menu checkbox-menu__version" mat-menu-item (click)="$event.stopPropagation()">
    <span>Версия песен:</span>
    <div class="right">{{ songService.songVersion ? (songService.songVersion | date:'dd/MM/yyyy') : 'unknown' }}</div>
  </button>
  <button class="checkbox-menu checkbox-menu__version" mat-menu-item (click)="$event.stopPropagation()">
    <span>Версия слайдов:</span>
    <div class="right">{{ songService.songSlideVersion ? (songService.songSlideVersion | date:'dd/MM/yyyy') : 'unknown' }}</div>
  </button>
</mat-menu>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="toggleMainMenu(true)">
    <mat-icon>library_music</mat-icon>
    <span>Песни</span>
  </button>
  <button mat-menu-item routerLink="/favorite">
    <mat-icon>favorite</mat-icon>
    <span>Закладки</span>
  </button>
  <button mat-menu-item routerLink="/liturgy">
    <mat-icon>auto_stories</mat-icon>
    <span>Чытанне дня</span>
  </button>
  <button mat-menu-item routerLink="/gadzinki">
    <mat-icon svgIcon="icon-maria"></mat-icon>
    <span>Гадзінкі</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item routerLink="/generator">
    <mat-icon>notifications_off</mat-icon>
    <span>Генератор прізентаціі</span>
  </button>
  <button mat-menu-item routerLink="/generator/docx">
    <mat-icon>notifications_off</mat-icon>
    <span>Создание бумажней версии</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item [matMenuTriggerFor]="settings">
    <mat-icon>settings</mat-icon>
    <span>Настройки</span>
  </button>
  <button mat-menu-item routerLink="/about">
    <mat-icon>accessibility_new</mat-icon>
    <span>О нас</span>
  </button>
</mat-menu>
