:host {
  display: flex;

  .logo {
    flex: 2 1 auto;
  }
  .list-horizontal {
    flex: 1 1 auto;
    padding: 0;
    .mat-list-item {
      display: inline-block;
      height: auto;
      width: auto;
    }
  }
}

.checkbox-menu {
  display: flex;
  align-content: space-between;

  >span {
    flex: 1 1 auto;
    padding-right: 10px;
  }
  >.right {
    flex: 1 1 auto;
    text-align: end;

    .mat-icon {
      margin-right: 0;
    }
  }
}