<button
  type="button"
  mat-raised-button
  class="key-button"
  aria-label="Панізіць танальнасць"
  (click)="transpilation(-1)"
>
  <mat-icon>expand_more</mat-icon>
</button>
<button
  type="button"
  class="key-text"
  [attr.aria-label]="'Танальнасць ' + selectedTranspilation() + ', скінуць'"
  (click)="reset()"
>
  Танальнасць: <b>{{ selectedTranspilation() }}</b>
</button>
<button type="button" mat-raised-button class="key-button" aria-label="Павысіць танальнасць" (click)="transpilation(1)">
  <mat-icon>expand_less</mat-icon>
</button>
