@if (songWithoutChord.length) {
  <div>
    <h3>Песни без аккордов</h3>
    <ul>
      @for (song of songWithoutChord; track song) {
        <li>
          <a [routerLink]="['/admin/edit', song.id]">{{ song.title }}</a>
        </li>
      }
    </ul>
  </div>
}

@if (songChordMistake.length) {
  <div>
    <h3>Песни с нераспознанными аккордами</h3>
    <ul>
      @for (song of songChordMistake; track song) {
        <li>
          <a [routerLink]="['/admin/edit', song.id]">{{ song.title }}</a>
        </li>
      }
    </ul>
  </div>
}

@if (songWithoutTag.length) {
  <div>
    <h3>Песни без Тегов</h3>
    <ul>
      @for (song of songWithoutTag; track song) {
        <li>
          <a [routerLink]="['/admin/edit', song.id]">{{ song.title }}</a>
        </li>
      }
    </ul>
  </div>
}

<div>
  <h3>Похожие(дубликаты) песни</h3>
  @if (!songDuplicate) {
    <button (click)="checkDuplication()">Проверить</button>
  }

  @if (songDuplicate?.length) {
    <ul>
      @for (song of songDuplicate; track song) {
        <li>
          <a [routerLink]="['/song', song[0].id]">{{ song[0].title }}</a>
          :
          @for (dbl of song[1]; track dbl) {
            <a [routerLink]="['/song', dbl.id]">
              {{ dbl.title }}
            </a>
          }
        </li>
      }
    </ul>
  }
</div>
