@for (lines of chordList; track lines) {
  @for (tag of lines; track tag) {
    @if (tag.type === 'chord') {
      <span
        class="chord"
        (click)="showChords(tag.text)"
        [matMenuTriggerFor]="showChord"
        >{{ tag.text }}</span
        >
      } @else {
        <span>{{ tag.text }}</span>
        }<ng-template #text
        ><span>{{ tag.text }}</span></ng-template
        >
        }{{ '\n' }}
      }
      <mat-menu #showChord>
        @if (selectedChord) {
          <app-chord-variation [chord]="selectedChord"></app-chord-variation>
        }
      </mat-menu>
