@for (lines of chordList(); track lines) {
  @for (tag of lines; track tag) {
    @if (tag.type === 'chord') {
      <button
        type="button"
        class="chord"
        [attr.aria-label]="'Акорд ' + tag.text + ', паказаць аплікатуру'"
        [matMenuTriggerFor]="showChord"
        (click)="showChords(tag.text)"
      >
        {{ tag.text }}
      </button>
    } @else {
      <span>{{ tag.text }}</span>
    }
  }
  {{ '\n' }}
}
<mat-menu #showChord>
  @if (selectedChord()) {
    <app-chord-variation [chord]="selectedChord()"></app-chord-variation>
  }
</mat-menu>
