<ng-template ngFor let-lines [ngForOf]="chordList"
  ><ng-template ngFor let-tag [ngForOf]="lines"
    ><span
      class="chord"
      *ngIf="tag.type === 'chord'; else text"
      (click)="showChords(tag.text)"
      [matMenuTriggerFor]="showChord"
      >{{ tag.text }}</span
    ><ng-template #text
      ><span>{{ tag.text }}</span></ng-template
    ></ng-template
  >{{ '\n' }}</ng-template
>
<mat-menu #showChord>
  <app-chord-variation *ngIf="selectedChord" [chord]="selectedChord"></app-chord-variation>
</mat-menu>
