<article>
  <header class="entry-header">
    <h1 class="entry-title">ГАДЗІНКІ АБ БЕЗЗАГАННЫМ ЗАЧАЦЦІ НАЙСВЯЦЕЙШАЙ ПАННЫ МАРЫІ</h1>
  </header>
  <div>
    <h3>ЮТРАНЬ</h3>
    <ol>
      <li>Пачынайце, вусны нашы, Маці праслаўляці, пачынайце гімн хвалы радасна спяваці.</li>
      <li>Будзь нам Маці міласэрна, сталай дапамогай, барані ад спакусаў і шатана злога.</li>
      <li>Хвалім Бога ў Тройцы вечнай і Айца, і Сына, Духа, роўнага ў Бостве, на вякі, няспынна.</li>
      <li>Як была пашана Пану, хай заўсёды будзе хай Спрадвечнага Бога праслаўляюць людзі!</li>
    </ol><b>Гімн</b>
    <ol>
      <li>Радуйся, о Пані свету, неба Валадарка, Ты светлая, як зорка, што ўзышла над ранкам.</li>
      <li>Радуйся, поўная ласкі, яснасць незямная, ратуй нас ад шатана, Маці Прасвятая.</li>
      <li>Пані, Цябе сам Бог Моцны, Творца чалавека, абраў за Маці Слова, што жыло спрадвеку.</li>
      <li>Слова, што ўвесь свет стварыла, неба над зямлёю, паіла ўсё жывое чыстаю вадою.</li>
      <li>Бог Цябе выбраў Нявестай і ўчыніў святою, Адамаў грэх моц страціў, Пані, прад Табою.</li>
    </ol><b>К.:</b> Выбраў Яе Бог і па-над усім узвялічыў.<br><b>Усе: І абраў Яе, быццам дом, у якім сам
      прабывае.</b><br><b>К.:</b> Пані, выслухай малітвы нашы.<br><b>Усе: І просьбы нашы няхай да Цябе
      дойдуць.</b><br><br><b>Молімся:</b> Святая Марыя, Валадарка неба, Маці Пана нашага Езуса Хрыста і Пані свету,
    якая нікога непакідаеш і нікім не пагарджаеш, узглянь на нас, о наша Пані, ласкавым позіркам Тваёй міласэрнасці і
    выпрасі нам у свайгоСына дараванне нашых правінаў, каб мы, хто цяпер над Тваім святым Беззаганным Зачаццем
    пабожным сэрцам разважае, магліатрымаць у небе ўзнагароду вечнага жыцця; няхай жа нам так учыніць Табою народжаны
    Твой Сын, а наш Пан Езус Хрыстус, якіз Айцом і Святым Духам жыве і валадарыць, у Тройцы Святой Адзіны Бог на векі
    вечныя. <b>Амэн.</b><br><br><b>К.:</b> Пані, выслухай малітвы нашы.<br><b>Усе: І просьбы нашы няхай да Цябе
      дойдуць.</b><br><b>К.:</b> Праслаўляйма Пана.<br><b>Усе: Богу хвала.</b><br><b>К.:</b> А душы верных памерлых
    праз Божую міласэрнасць няхай спачываюць у супакоі вечным.<br><b>Усе: Амэн.</b>
    <h3>ПРЫМА</h3>
    <ol>
      <li>Будзь нам, Маці міласэрна, сталай дапамогай, барані ад спакусаў і шатана злога.</li>
      <li>Хвалім Бога ў Тройцы вечнай і Айца, і Сына, Духа, роўнага ў Бостве, на вякі, няспынна.</li>
      <li>Як была пашана Пану, хай заўсёды будзе хай Спрадвечнага Бога праслаўляюць людзі.</li>
    </ol><b>Гімн</b>
    <ol>
      <li>Радуйся, мудрая Панна, Мудрасці дом Божай, які цудоўна здобяць сем калон прыгожых.</li>
      <li>Ад сапсаванасці свету Богам захавана, Ты ўжо была Святою ў лоне маці - Ганны.</li>
      <li>Новая зорка Якуба і Анёлаў Пані, жывых праўдзіва Маці, сіла ў змаганні.</li>
      <li>Грозная Ты для шатанаў, збаў ад іх напасці, Ты прыстань хрысціянаў у горы і няшчасці.</li>
    </ol><b>К.:</b> Сам Яе стварыў у Святым Духу.<br><b>Усе: І над справамі рук сваіх Яе ўзвялічыў.</b><br><b>К.:</b>
    Пані, пачуй малітвы нашы.<br><b>Усе: І просьбы нашы няхай да Цябе дойдуць.</b><br>
    <h3>ТЭРЦЫЯ</h3>
    <ol>
      <li>Будзь нам, Маці міласэрна, сталай дапамогай, барані ад спакусаў і шатана злога.</li>
      <li>Хвалім Бога ў Тройцы вечнай і Айца, і Сына, Духа, роўнага ў Бостве, на вякі, няспынна.</li>
      <li>Як была пашана Пану, хай заўсёды будзе хай Спрадвечнага Бога праслаўляюць людзі.</li>
    </ol><b>Гімн</b>
    <ol>
      <li>Радуйся, трон Саламонаў, Арка Запавету, Вясёлка з фарбаў райскіх Уладара сусвету.</li>
      <li>Ты, нібы куст Майсееў, Богам палымнееш, як посах Ааронаў, Езусам квітнееш.</li>
      <li>Божая Брама замкнёна, мёду пласт Самсона, Руно, што мацавала мужнасць Гедэона.</li>
      <li>Сын Твой Святы і Адзіны Бог праўдзівы з неба, Цябе ўсцярог ад грэху нашай маці Евы.</li>
      <li>Толькі Цябе, Маці Слова, Бог абраў спрадвеку, каб Ты была нявіннай, і без плямы грэху.</li>
    </ol><b>К.:</b> Я жыву на вышынях.<br><b>Усе: А трон мой у слупе аблокаў.</b><br><b>К.:</b> Пані, выслухай малітвы
    нашы.<br><b>Усе: І просьбы нашы няхай да Цябе дойдуць.</b><br>
    <h3>СЭКСТА</h3>
    <ol>
      <li>Будзь нам, Маці міласэрна, сталай дапамогай, барані ад спакусаў і шатана злога.</li>
      <li>Хвалім Бога ў Тройцы вечнай і Айца, і Сына, Духа, роўнага ў Бостве, на вякі, няспынна.</li>
      <li>Як была пашана Пану, хай заўсёды будзе хай Спрадвечнага Бога праслаўляюць людзі.</li>
    </ol><b>Гімн</b>
    <ol>
      <li>Радуйся, Тройцы Святыня, Божая Святліца, святых Анёлаў радасць, чыстасці Капліца.</li>
      <li>Ты чысціні Кедр шляхетны, Сад удзячных думак, цярплівасці Ты Пальма, у журбе ратунак.</li>
      <li>О, Благаслаўлёная Пані, Ты Зямля святая, што вольнасці ад грэху дар таемны маеш.</li>
      <li>Быццам святы Горад Божы і на Ўсходзе Брама, любоўю, светлай ласкай ззяеш, Беззаганна!</li>
    </ol><b>К.:</b> Як лілея паміж церня.<br><b>Усе: Так і мая ўлюбёная паміж дачок Адама.</b><br><b>К.:</b> Пані,
    выслухай малітвы нашы.<br><b>Усе: І просьбы нашы няхай да Цябе дойдуць.</b><br>
    <h3>НОНА</h3>
    <ol>
      <li>Будзь нам, Маці міласэрна, сталай дапамогай, барані ад спакусаў і шатана злога.</li>
      <li>Хвалім Бога ў Тройцы вечнай і Айца, і Сына, Духа, роўнага ў Бостве, на вякі, няспынна.</li>
      <li>Як была пашана Пану, хай заўсёды будзе хай Спрадвечнага Бога праслаўляюць людзі.</li>
    </ol><b>Гімн</b>
    <ol>
      <li>Радуйся, Горад уцёклых, вежа ўзмацавана, узведзена Давідам, Ты цвярдыня Пана.</li>
      <li>Ты пры зачацці любоўю, Божай палымнела, каб праз Цябе моц злога назаўжды здранцвела.</li>
      <li>О, дабрадзейна Жанчына, мужная Юдыта, о Маці Сына з роду караля Давіда!</li>
      <li>Хлебам карміў увесь Егіпет Юзаф, сын Рахэлі, Марыі Сын ад смерці выбавіў свет цэлы.</li>
    </ol><b>К.:</b> Уся Ты прыгожая, наша Пані.<br><b>Усе: І плямы першароднай не было ў Табе
      ніколі.</b><br><b>К.:</b> Пані, выслухай малітвы нашы.<br><b>Усе: І просьбы нашы няхай да Цябе дойдуць.</b><br>
    <h3>НЕШПАРЫ</h3>
    <ol>
      <li>Будзь нам, Маці міласэрна, сталай дапамогай, барані ад спакусаў і шатана злога.</li>
      <li>Хвалім Бога ў Тройцы вечнай і Айца, і Сына, Духа, роўнага ў Бостве, на вякі, няспынна.</li>
      <li>Як была пашана Пану, хай заўсёды будзе хай Спрадвечнага Бога праслаўляюць людзі.</li>
    </ol><b>Гімн</b>
    <ol>
      <li>Радуйся, цуд з Габаону, верным дапамога, Ты Кроў дала і Цела Сыну Пана Бога.</li>
      <li>Каб у смяротнай даліне чалавек не згінуў, а годным стаўся неба, славы Херувімаў.</li>
      <li>Промнямі Боскага сонца зіхаціць і ззяе зачатая без грэху, чыстая, святая.</li>
      <li>Кветка між церня – Лілея мужна змея топча, як месяц ясны ў поўні, губіць цемру ночы.</li>
    </ol><b>К.:</b> Я ўчыніла, каб на небе ўзыходзіла святло няспынна.<br><b>Усе: І быццам імгліца ўсю зямлю
      агарнула.</b><br><b>К.:</b> Пані, выслухай малітвы нашы.<br><b>Усе: І просьбы нашы няхай да Цябе дойдуць.</b>
    <h3>КАМПЛЕТА (НАПРЫКАНЦЫ ДНЯ)</h3>Хай жа дасць нам Сын Твой любы ласку навяртання,<br>Хай даруе нам віны, не
    спашле карання.<br>
    <ol>
      <li>Будзь нам, Маці міласэрна, сталай дапамогай, барані ад спакусаў і шатана злога.</li>
      <li>Хвалім Бога ў Тройцы вечнай і Айца, і Сына, Духа, роўнага ў Бостве, на вякі, няспынна.</li>
      <li>Як была пашана Пану, хай заўсёды будзе хай Спрадвечнага Бога праслаўляюць людзі.</li>
    </ol><b>Гімн</b>
    <ol>
      <li>Радуйся, о Маці ласкі і заўсёды Дзева. Стаіш ля трону Бога, неба Каралева.</li>
      <li>Пераўзышла Ты Анёлаў чыстасцю сваёю, вянком дванаццаць зорак свецяць над Табою.</li>
      <li>Аздараўленне для хворых, ясна Зорка мора, усіх, што тонуць, прыстань і надзея ў горы.</li>
      <li>Брама адкрытая ў Неба, грэшных абарона, вядзі нас на сустрэчу з Богам на Сіёне.</li>
    </ol><b>К.:</b> Тваё імя, о Марыя, як алей духмяны.<br><b>Усе.: А Твае слугі моцна Цябе
      ўзлюбілі.</b><br><b>К.:</b> Пані, выслухай малітвы нашы.<br><b>Усе.: І просьбы нашы няхай да Цябе
      дойдуць.</b><br>
    <h3>АХВЯРАВАННЕ ГАДЗІНАК</h3>
    <ol>
      <li>Пані, прымі спеў Гадзінак, што Табе мы ўзносім, з паклонам і пакорай дапамогі просім.</li>
      <li>Шляхам вядзі нас збаўленным, памажы ў патрэбе не пакідай пры смерці, дай нам быць у небе.</li>
    </ol>
    <h3>АНТЫФОНА</h3>Кветка чыстая, якую не крануў грэх першародны<br>і якую не запляміў бруд учынку
    злога.<br><b>К.:</b> Пры сваім Зачацці, о Пані, Ты была Беззаганнай.<br><b>Усе: Маліся за нас да Бога Айца, бо
      Ягонага Ты Сына нарадзіла.</b><br><b>Молімся:</b> Божа, Ты праз Беззаганнае Зачацце Найсвяцейшай Панны
    падрыхтаваў свайму Сыну годнае прабываннеў нявінным улонні, і праз заслугі будучай смерці Хрыста захаваў Яе ад
    усялякай правіны. Дазволь нам праз Яе заступніцтвадайсці да Цябе без грэху. Праз Езуса Хрыста, Пана нашага, які з
    Табой жыве і валадарыць у еднасці Духа Святога, Бог празусе вякі вечныя.<br><b>Усе: Амэн.</b>
  </div>
</article>