<div class="slide-menu-wrapper">
    <nav class="slide-menu slide-menu--left" [class.active]="active">
      <div class="slide-menu-toolbar">
        <ul class="menu-toolbar">
          <li class="toolbar-panel-button" (click)="toggleTheme()">
            <mat-icon>invert_colors</mat-icon>
            <br>
            <span class="slide-menu-toolbar-label">Тема</span>
          </li>
          <li class="toolbar-panel-button" (click)="toggleMenu()">
            <mat-icon *ngIf="hideMenu">visibility</mat-icon>
            <mat-icon *ngIf="!hideMenu">visibility_off</mat-icon>
            <br>
            <span class="slide-menu-toolbar-label">Меню</span>
          </li>
          <li class="toolbar-panel-button" (click)="openRemoteControl()">
           <mat-icon>open_in_new</mat-icon>
            <br>
            <span class="slide-menu-toolbar-label">Управление</span>
          </li>
          <li class="toolbar-panel-button" (click)="onClose()">
            <mat-icon>closed</mat-icon>
            <br>
            <span class="slide-menu-toolbar-label">Зачинить</span>
          </li>
        </ul>
        <div id="search" class="search-nav">
          <input #searchElement id="song-list-search" placeholder="Пошук..." [formControl]="search">

          <mat-icon [svgIcon]="selectedTag.icon"
                    id="search-sound-list-btn" 
                    class="button"
                    (click)="toggleSelectedTag()"
                    >
          </mat-icon>

          <div class="tag-search" [class.open]="openSelectedTag">
            <ul class="tag-list">
              <li *ngFor="let tagList of tagsList" (click)="onClickTag(tagList.id)">
                <mat-icon *ngIf="tagList.icon" [svgIcon]="tagList.icon"></mat-icon>
                {{tagList.title}}
              </li>
              
            </ul>
          </div>
        </div>
      </div>
      <div data-panel="Slides" class="slide-menu-panel active-menu-panel" *appLet="songListFiltered$ | async as songListFiltered">
        <ul class="slide-menu-items-search" *ngIf="search.value">
          <ng-container *ngIf="songListFiltered && songListFiltered.length; else elseNoSong">
            <li class="slide-menu-item active selected add-new-slide" *ngFor="let song of songListFiltered; trackBy:trackBySong">
              <span class="slide-menu-item-title">{{song.title}}</span>
            </li>
          </ng-container>
          <ng-template #elseNoSong>
            <li class="slide-menu-item">
              <span class="slide-menu-item-title">Пеня не найдена</span>
            </li>
          </ng-template>
        </ul>
        <ul class="slide-menu-items" *ngIf="!search.value">
          <li class="slide-menu-item active selected" data-item="0" data-slide-h="0" data-slide-v="0" data-song-id="2">
            <span class="slide-menu-item-title">LAUDATE OMNES GENTES</span></li>
        </ul>
      </div>
    </nav>
    <div class="slide-menu-overlay" [class.active]="active" (click)="onClose()"></div>
  </div>