.chord {
  position: relative;
  max-width: 220px;
  overflow: hidden;

  &__name {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
  }

  &_version {
    color: #929292;
    font-size: 0.6em;
  }

  &__content {
    display: flex;
    width: 95%;
    margin: 0 auto;
  }

  &__arrow-right,
  &__arrow-left {
    position: absolute;
    bottom: 0px;
    --mat-icon-button-state-layer-size: 40px;
    --mat-icon-button-icon-size: 40px;
    --mat-icon-button-touch-target-display: none;
    width: 40px;
    height: 40px;
    padding: 0;
    color: #444;

    .mat-icon {
      width: 40px;
      height: 40px;
      font-size: 40px;
      line-height: 40px;
    }
  }

  &__arrow-right {
    right: 0;
  }
}
