<h1>Закладкі</h1>

<div class="songs-list">
  @for (song of songFavoriteList(); track song.id) {
    <div class="song-container" routerLinkActive="active">
      <button
        type="button"
        mat-icon-button
        [attr.aria-label]="'Выдаліць з закладак: ' + song.title"
        (click)="toggleFavorite(song.id)"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <a class="song-link" [routerLink]="['/song', song.id, song.title | replaceSpace]">
        <span class="song-title">
          {{ song.songId }}.
          {{ song.title }}
        </span>
      </a>
      <div class="title-container__actions">
        <button
          type="button"
          mat-icon-button
          [attr.aria-label]="'Дзеянні з песняй ' + song.title"
          [matMenuTriggerFor]="selectedSongMenu"
        >
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #selectedSongMenu="matMenu">
          <app-playlist-menu
            [songId]="song.id"
            (selectedPlaylist)="addedSongToPlaylist($event.dateCreate, song.id)"
          ></app-playlist-menu>
        </mat-menu>
      </div>
    </div>
  } @empty {
    <div>Няма дададзеных песень</div>
  }
</div>
