<h1>Закладкі:</h1>

<div class="songs-list" *ngIf="songFavoriteList$ | async as songFavoriteList">
<ng-container *ngIf="songFavoriteList.length; else noFavoriteSong">
    <div class="song-container" 
        *ngFor="let song of songFavoriteList; trackBy: trackBySong"
        [routerLink]="['/song', song.id, song.title | replaceSpace]">
    <span class="favorite">
        <mat-icon (click)="toggleFavorite($event, song.id)">favorite</mat-icon>
    </span>
    <span class="song-title">
        <ng-container *ngIf="showSongNumber$ | async">{{ song.id }}. </ng-container>
        {{ song.title }}
    </span>
    <div class="action">
        <mat-icon>add</mat-icon>
    </div>
    </div>
</ng-container>
<ng-template #noFavoriteSong>
    <div>Няма дададзеных песень</div>
</ng-template>
</div>
