.song-name {
  width: 100%;
}

.song-details__container {
  display: flex;
  column-gap: 20px;
  width: 100%;
  margin-bottom: 20px;
  
  @media (max-width: 768px) {
    flex-direction: column;
  }

  &_song {
    flex: 1;
  }
}

.select-tags__items {
  display: grid;
  grid-template-columns: 1fr;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 450px) {
    grid-template-columns: 1fr;
  }
}
