<div class="" [formGroup]="songDataForm">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Назва спеву</mat-label>
    <input type="text" matInput formControlName="title" />
  </mat-form-field>
  <div class="edit-content">
    <textarea
      #lineCounter
      class="textarea textarea__line-counter"
      wrap="off"
      readonly
      *ngIf="lineCounter$ | async as lines"
      >{{ lines }}</textarea
    >
    <textarea
      #textEditor
      class="textarea textarea__edit textarea__edit_text"
      wrap="off"
      formControlName="text"
      (blur)="fillLines()"
    ></textarea>

    <textarea
      #chordEditor
      class="textarea textarea__edit textarea__edit_chord"
      wrap="off"
      formControlName="chord"
      (blur)="fillLines()"
    ></textarea>
  </div>
  <div class="">
    <section class="example-section" formGroupName="tags">
      <h4>Select your toppings:</h4>
      <mat-checkbox [formControlName]="tag.id" *ngFor="let tag of tagList">
        <mat-icon [svgIcon]="tag.icon"></mat-icon>
        {{ tag.title }}
      </mat-checkbox>
    </section>
    <div class="action">
      <button mat-raised-button (click)="onSave()">Создать</button>
    </div>
  </div>
</div>
