<div class="edit-form" [formGroup]="songDataForm">
  <mat-form-field class="song-name" appearance="fill">
    <mat-label>Назва спеву</mat-label>
    <input type="text" matInput formControlName="title" maxlength="120" />
  </mat-form-field>

  <div class="song-details__container">
    <app-edit-song
      class="song-details__container_song"
      formControlName="text"
      placeholder="Тест песни:&#10;Пример:&#10;C a \\Аккорды&#10;Сонца ўжо зайшло, думкі-мары прыходзяць,&#10;d G&#10;Цемра ахінае, як коўдра зямлю. &#10;Хочацца ўстаць, штосьці добрае зробіць, &#10;"
    ></app-edit-song>

    <div class="select-tags" formGroupName="tags">
      <h5>Выберете теги:</h5>
      <div class="select-tags__items">
        <mat-checkbox [formControlName]="tag.id" *ngFor="let tag of tagList">
          <mat-icon [svgIcon]="tag.icon"></mat-icon>
          {{ tag.title }}
        </mat-checkbox>
      </div>
    </div>
  </div>

  <div class="action">
    <button mat-raised-button (click)="onSave()">Создать</button>
  </div>
</div>
<div style="white-space: pre">
  <ng-container *ngFor="let change of diff">
    <ng-container *ngIf="change.removed && change.value.trim()"
      ><span style="color: red">{{ change.value }}</span></ng-container
    ><ng-container *ngIf="change.added">
      <span style="color: green">{{ change.value }}</span></ng-container
    ><ng-container *ngIf="!change.added && !change.removed">{{ change.value }}</ng-container>
  </ng-container>
</div>
