.docx-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .column {
        flex: 0 0 50%;

        .mat-radio-button, .mat-checkbox {
            display: block;
        }
    }
    .column-full {
        flex: 1 1 100%;
    }
    .download-button {
        margin-top: 15px;;
    }
}

.song-content {
    overflow: auto;
    height: 300px;
    margin: 0 2px 3px;
    padding: 0 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}