<h2>Стварэнне папяровай версіі</h2>

<form [formGroup]="songListForm" class="docx-options">
  <div class="column">
    <label id="song-radio-group-label">Якія песні неабходна дадаць</label>
    <mat-radio-group formControlName="allSong" aria-labelledby="song-radio-group-label" color="primary">
      <mat-radio-button [value]="true">Усе песні</mat-radio-button>
      <mat-radio-button [value]="false">Выбраць песні</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="column">
    <label>Дадатковыя опцыі</label>
    <mat-checkbox formControlName="isShowChord" color="primary">
      Акорды
      <mat-icon matTooltip="Адлюстраванне акордаў у створаным варыянце">info</mat-icon>
    </mat-checkbox>
    <mat-checkbox formControlName="isShowTag" color="primary">
      Тэгі
      <mat-icon matTooltip="Паказваць тэгі ў створаным варыянце">info</mat-icon>
    </mat-checkbox>
    <mat-checkbox formControlName="isAddChastki" color="primary">Часткі Імшы</mat-checkbox>
    <mat-checkbox formControlName="isAddGadzinki" color="primary">Вяночак да божай міласерднасті </mat-checkbox>
  </div>

  @if (!isAllSong() && selectedSongs(); as selectedSongList) {
    <div class="column-full">
      <mat-form-field class="example-form-field">
        <mat-label>Пошук</mat-label>
        <input matInput formControlName="search" type="text" />
        <button matSuffix mat-icon-button aria-label="очистить" (click)="clearFilterSong()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-tab-group animationDuration="0ms" (selectedIndexChange)="selectedIndexChange($event)">
        <mat-tab label="Пошук песен">
          @if (songListFiltered(); as songList) {
            <cdk-virtual-scroll-viewport [itemSize]="28" class="song-content">
              @if (songList.length) {
                <div
                  class="song-container"
                  *cdkVirtualFor="let song of songList; trackBy: trackBy; templateCacheSize: 0"
                >
                  <mat-checkbox (change)="changeSelectedSong($event, song.id)">{{ song.title }}</mat-checkbox>
                </div>
              } @else {
                <div>Не адна песня не знойдзена па вашаму запыту.</div>
              }
            </cdk-virtual-scroll-viewport>
          }
        </mat-tab>
        <mat-tab [label]="'Выбранные (' + selectedSongList.length + ')'">
          <cdk-virtual-scroll-viewport [itemSize]="28" class="song-content">
            @if (selectedSongList.length) {
              <div
                class="song-container"
                *cdkVirtualFor="let song of selectedSongList; trackBy: trackBy; templateCacheSize: 0"
              >
                <mat-checkbox [checked]="true" (change)="changeSelectedSong($event, song.id)"
                  >{{ song.title }}
                </mat-checkbox>
              </div>
            } @else {
              <div>Няма выбраных песень.</div>
            }
          </cdk-virtual-scroll-viewport>
        </mat-tab>
      </mat-tab-group>
    </div>
  }

  <button mat-raised-button color="primary" class="download-button" (click)="generateDocx()">
    <mat-icon>get_app</mat-icon>
    Спампаваць
  </button>
</form>
