<div class="songs-list" *ngIf="songListFiltered$ | async as songListFiltered">
  <ng-container *ngIf="songListFiltered.length; else noSongResult">
    <a
      class="song-container song-link"
      *ngFor="let song of songListFiltered; trackBy: trackBySong; let index = index"
      routerLinkActive="active"
      [routerLink]="['/song', song.id, song.title | replaceSpace]"
    >
      <span class="favorite">
        <mat-icon>{{ song.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
      </span>
      <span class="song-title">
        <ng-container *ngIf="showSongNumber$ | async">{{ song.songId }}. </ng-container>
        {{ song.title | uppercase }}
      </span>
      <div class="actions" (click)="$event.stopPropagation()">
        <button mat-icon-button [matMenuTriggerFor]="selectedSongMenu" [matMenuTriggerData]="song">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
    </a>
  </ng-container>
  <ng-template #noSongResult>
    <div>
      Не адна песня не знойдзена па вашаму запыту.
      <ng-container *ngIf="(selectedTag$ | async) > 0">
        <a (click)="resetSelectedTag($event)">Паспрабаваць без фільтра па тэгу</a>
      </ng-container>
    </div>
  </ng-template>
</div>

<mat-menu #selectedSongMenu="matMenu">
  <ng-template matMenuContent let-songId="id">
    <app-playlist-menu
      [songId]="songId"
      (selectedPlaylist)="addedSongToPlaylist($event.dateCreate, songId)"
    ></app-playlist-menu>
  </ng-template>
</mat-menu>
