@if (songListFiltered(); as songListFiltered) {
  <div class="songs-list">
    @if (songListFiltered.length) {
      @for (song of songListFiltered; track trackBySong(index, song); let index = $index) {
        <a
          class="song-container song-link"
          routerLinkActive="active"
          [routerLink]="['/song', song.id, song.title | replaceSpace]"
        >
          <span class="favorite">
            <mat-icon>{{ song.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
          </span>
          <span class="song-title">
            @if (showSongNumber()) {
              {{ song.songId }}.
            }
            {{ song.title | uppercase }}
            @if (song.snippet; as snippet) {
              <app-match-highlight class="song-snippet" [snippet]="snippet" />
            }
          </span>
          <div class="actions" (click)="$event.stopPropagation(); $event.preventDefault()">
            <button mat-icon-button [matMenuTriggerFor]="selectedSongMenu" [matMenuTriggerData]="song">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </div>
        </a>
      }
    } @else {
      <div class="no-results">
        Не адна песня не знойдзена па вашаму запыту.
        @if (selectedTag() > 0) {
          <a (click)="resetSelectedTag($event)">Паспрабаваць без фільтра па тэгу</a>
        }
      </div>
    }
  </div>
}

<mat-menu #selectedSongMenu="matMenu">
  <ng-template matMenuContent let-songId="id">
    <app-playlist-menu
      [songId]="songId"
      (selectedPlaylist)="addedSongToPlaylist($event.dateCreate, songId)"
    ></app-playlist-menu>
  </ng-template>
</mat-menu>
