<h1 class="cdk-visually-hidden">Усе песні</h1>

@if (songListFiltered(); as songListFiltered) {
  <div class="songs-list">
    @if (songListFiltered.length) {
      @for (song of songListFiltered; track song.id) {
        <div class="song-container" routerLinkActive="active">
          <a class="song-link" [routerLink]="['/song', song.id, song.title | replaceSpace]">
            <span class="favorite">
              <mat-icon>{{ song.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
              @if (song.favorite) {
                <span class="cdk-visually-hidden">У закладках.</span>
              }
            </span>
            <span class="song-title">
              {{ song.songId }}.
              <span class="song-name">{{ song.title }}</span>
              @if (song.snippet; as snippet) {
                <app-match-highlight class="song-snippet" [snippet]="snippet" />
              }
            </span>
          </a>
          <div class="actions">
            <button
              type="button"
              mat-icon-button
              [attr.aria-label]="'Дзеянні з песняй ' + song.title"
              [matMenuTriggerFor]="selectedSongMenu"
              [matMenuTriggerData]="song"
            >
              <mat-icon>more_horiz</mat-icon>
            </button>
          </div>
        </div>
      }
    } @else {
      <div class="no-results">
        Ніводная песня не знойдзена па вашым запыце.
        @if (selectedTag() > 0) {
          <button type="button" class="link-button" (click)="resetSelectedTag()">
            Паспрабаваць без фільтра па тэгу
          </button>
        }
      </div>
    }
  </div>
}

<mat-menu #selectedSongMenu="matMenu">
  <ng-template matMenuContent let-songId="id">
    <app-playlist-menu
      [songId]="songId"
      (selectedPlaylist)="addedSongToPlaylist($event.dateCreate, songId)"
    ></app-playlist-menu>
  </ng-template>
</mat-menu>
