<article *ngIf="selectedSong$ | async as selectedSong">
  <header class="entry-header">
    <div class="title-container">
      <div class="name-contaner">
        <h1 class="entry-title" itemprop="name">
          <ng-container *ngIf="showSongNumber$ | async">{{ selectedSong.id }}. </ng-container>
          {{ selectedSong?.title }}
        </h1>
        <h2 class="entry-title-meta" *ngIf="!isArray(selectedSong.tag)">
          Тэгі:
          <span *ngFor="let item of selectedSong.tag | keyvalue">{{ tagNameById[item.key] }}, </span>
        </h2>
      </div>

      <div class="title-container__actions">
        <button mat-icon-button (click)="toggleFavorite(selectedSong.id)">
          <mat-icon>{{ (isFavoriteSong$ | async) ? 'favorite' : 'favorite_border' }}</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <app-playlist-menu
            [songId]="selectedSong.id"
            (selectedPlaylist)="addedSongToPlaylist($event.dateCreate, selectedSong.id)"
          ></app-playlist-menu>
        </mat-menu>
      </div>
    </div>

    <div class="guitar-controls">
      <app-song-key [(selectedTranspilation)]="selectedTranspilation"></app-song-key>
    </div>
  </header>

  <div
    class="lyrics"
    [class.chord-right]="selectedSong.chordPosition === 'right'"
    *appLet="showChord$ | async as showChord"
  >
    <ng-container *ngIf="selectedSong.chordPosition === 'inText'; else chordRight">
      <ng-container *ngFor="let line of selectedSong.text; let i = index">
        <app-chord-list
          class="chord"
          *ngIf="showChord && selectedSong.chord[i]"
          [chords]="selectedSong.chord[i]"
          [transpilation]="selectedTranspilation"
        ></app-chord-list>
        <span>{{ line }}</span>
      </ng-container>
    </ng-container>

    <ng-template #chordRight>
      <span [class.without-chord]="!showChord">{{ selectedSong?.text }}</span>

      <app-chord-list
        class="chord"
        *ngIf="showChord"
        [chords]="selectedSong?.chord"
        [transpilation]="selectedTranspilation"
      ></app-chord-list>
    </ng-template>
  </div>
</article>
