
.entry-title-meta {
    font-size: 13px;
    color: #b3b3b1;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-style: normal;
    line-height: 1.4;

    span {
        color: #284a66;
        text-decoration: none;
    }
}

h1.entry-title {
    font-size: 1.40em !important;
    color: #333 !important;
    margin-top: 0;
}

.lyrics {
    margin-top: 20px;

    span {
        display: block;

        &:empty:before {
            content: "\200b"; // unicode zero width space character
        }
    }

    &.chord-right {
        display: flex;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        span {
            flex: 1 1 80%;
            &.without-chord {
                 flex: 1 1 100%;
            }
            &.chord {
                flex: 1 1 20%;
            }
        }
    }
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    margin-top: 15px;

    &__actions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.guitar-controls {
    margin-top: 5px;
    display: flex;
    gap: 20px;
    align-items: center;
}