<button
  type="button"
  mat-icon-button
  class="filter-button"
  [attr.aria-label]="'Фільтр пошуку: ' + selectedFilter().title"
  (click)="focusSearch()"
>
  @if (selectedFilter().icon) {
    <mat-icon [svgIcon]="selectedFilter().icon"></mat-icon>
  } @else {
    <mat-icon>search</mat-icon>
  }
</button>

<input #searchInput class="search" type="search" placeholder="Пошук" aria-label="Пошук" [formControl]="searchTerm" />

@if (searchTerm.value) {
  <button type="button" mat-icon-button class="clear-button" aria-label="Ачысціць" (click)="clear()">
    <mat-icon>close</mat-icon>
  </button>
}
