:host {
  display: flex;
  position: relative;
  margin: 8px 5px 8px 0;
  transition: all 0.2s ease;
}

.search {
  width: 100%;
  height: 34px;
  padding: 0 40px 0 44px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  background-color: rgb(238, 243, 248);
  border: 1px solid transparent;
  border-radius: 4px;
  text-overflow: ellipsis;

  &:focus {
    border-color: #ccc;
    outline-color: #ccc;
  }

  &::-webkit-search-cancel-button {
    display: none;
  }
}

.filter-button,
.clear-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 34px;
  height: 34px;
  padding: 5px;
}

.filter-button {
  left: 2px;
}

.clear-button {
  right: 2px;
}

::ng-deep .song-search-filter-menu .selected {
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.06);
}
