<div class="reveal" [class.speakerNotes]="this.isSpeakerNotes()">
  <div class="slides">
    @if (slideList && slideList.length) {
      @for (slides of slideList; track trackBySlides($index, slides)) {
        @for (slide of slides.slides; track slide) {
          <section [style.font-size.px]="slide.fontSize">
            <span>{{ slide.text }}</span>
            @if (slides.chord || slides.text) {
              <aside class="notes">
                <div class="lyrics">
                  <span>{{ slides.text }}</span
                  ><span class="chord">{{ slides.chord }}</span>
                </div>
              </aside>
            }
          </section>
        }
      }
    } @else {
      <section>Не дададзены ні адзін слайд</section>
    }
  </div>
</div>

@if (isReady()) {
  <app-presentation-menu [slideList]="slideList" (addedSong)="addSlide($event)" (removeSong)="removeSlide($event)">
  </app-presentation-menu>
}
