<ng-container *ngIf="songId && isAuth$ | async">
  <button mat-menu-item [routerLink]="['/admin', 'edit', songId]">
    <mat-icon>edit</mat-icon>
    <span>Рэдагаваць</span>
  </button>
  <mat-divider></mat-divider>
</ng-container>
<ng-container *ngIf="playLists$ | async as playLists">
  <button mat-menu-item [routerLink]="['/playlist', 'add', songId || '']">
    <mat-icon>playlist_add</mat-icon>
    <span>{{ songId ? 'Дадаць песню ў новы плэйліст' : 'Стварыць новы плэйліст' }}</span>
  </button>

  <ng-container *ngIf="playLists.length > 0">
    <mat-divider></mat-divider>
    <button mat-menu-item [disabled]="songId" routerLink="/playlist">
      <span *ngIf="songId; else allPlaylist">Дадать у выбраны плэйліст</span>
      <ng-template #allPlaylist>
        <mat-icon>list_alt</mat-icon>
        <span>Усе плэйлісты</span>
      </ng-template>
    </button>
    <mat-divider></mat-divider>
  </ng-container>

  <button
    mat-menu-item
    *ngFor="let playList of playLists | slice: 0:SHOW_MAX_PLAYLIST"
    (click)="clickOnPlayList(playList)"
  >
    <mat-icon>lyrics</mat-icon>
    <span>{{ playList.name }}</span>
  </button>
  <button mat-menu-item routerLink="/playlist" *ngIf="!songId && playLists.length > SHOW_MAX_PLAYLIST">
    <span>...</span>
  </button>
</ng-container>
