<mat-select
  class="search-select"
  panelClass="search-tag-mat-menu"
  *appLet="selected$ | async as selected"
  [value]="selected"
  (valueChange)="tagToggle($event)"
>
  <mat-select-trigger>
    <mat-icon *ngIf="tagsList[selected]?.icon" [svgIcon]="tagsList[selected]?.icon"></mat-icon>
    <mat-icon *ngIf="!tagsList[selected]?.icon">search</mat-icon>
  </mat-select-trigger>
  <mat-option *ngFor="let tagList of tagsList; let i = index" [value]="i">
    <mat-icon *ngIf="tagList.icon" [svgIcon]="tagList.icon"></mat-icon>
    <mat-icon *ngIf="!tagList.icon">search</mat-icon>
    {{ tagList.title }}
  </mat-option>
</mat-select>

<input
  #search
  matInput
  class="search"
  placeholder="Пошук"
  aria-label="Пошук"
  [formControl]="searchTerm"
  (blur)="onBlurInput()"
  (focus)="onFocusInput()"
/>
<button
  mat-button
  class="clear-icon"
  *ngIf="searchTerm.value"
  matSuffix
  mat-icon-button
  aria-label="Clear"
  (click)="onClear()"
>
  <mat-icon>close</mat-icon>
</button>
