app-search-song {
    display: flex;
    position: relative;
    margin: 8px 5px 8px 0;
    transition: all .2s ease;

    .search-input {
        flex: 0 1 100%;
        display: block;
    }
    .mat-mdc-select {
        width: 40px;
        height: 26px;
        display: flex;
        align-items: center;
        /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
        .mat-select-value {
            max-width: none;
        }
    }

    .clear-icon {
        position: absolute;
        right: 5px;
        top: -5px;
    }
    .search-select {
        position: absolute;
        left: 5px;
        top: 5px;
    }
    input {
        &.search {
            width: 100%;
            padding: 0 40px 0 50px;
            line-height: 1.75;
            font-weight: 400;
            font-size: 16px;
            height: 34px;
            background-color: rgb(238, 243, 248);
            border-radius: 4px;
            border-color: transparent;
            text-overflow: ellipsis;

            &:focus {
                border-color: #ccc;
                outline-color: #ccc;
            }
        }
    }
    /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
    .mat-select-value-text mat-select-trigger mat-icon {
        display: block;
    }
}

/* TODO(mdc-migration): The following rule targets internal classes of menu that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of menu that may no longer apply for the MDC version. */
.search-tag-mat-menu {    
    &.mat-mdc-select-panel {
        max-height: none;

        .mat-mdc-option {
            height: 40px;
            line-height: 40px;
        }
    }

}
