<mat-select
  class="search-select"
  panelClass="search-tag-mat-menu"
  *appLet="selected$ | async as selected"
  [value]="selected"
  (valueChange)="tagToggle($event)"
  >
  <mat-select-trigger>
    @if (tagsList[selected]?.icon) {
      <mat-icon [svgIcon]="tagsList[selected]?.icon"></mat-icon>
    }
    @if (!tagsList[selected]?.icon) {
      <mat-icon>search</mat-icon>
    }
  </mat-select-trigger>
  @for (tagList of tagsList; track tagList; let i = $index) {
    <mat-option [value]="i">
      @if (tagList.icon) {
        <mat-icon [svgIcon]="tagList.icon"></mat-icon>
      }
      @if (!tagList.icon) {
        <mat-icon>search</mat-icon>
      }
      {{ tagList.title }}
    </mat-option>
  }
</mat-select>

<input
  #search
  matInput
  class="search"
  placeholder="Пошук"
  aria-label="Пошук"
  [formControl]="searchTerm"
  (blur)="onBlurInput()"
  (focus)="onFocusInput()"
  />
@if (searchTerm.value) {
  <button
    mat-button
    class="clear-icon"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="onClear()"
    >
    <mat-icon>close</mat-icon>
  </button>
}
